{% extends "base.html" %}
{% block main %}

<div class="header"> 
    <h1>Contact Message</h1>
</div>

<hr>

<div class="instruction">
    <p>Fill in this form to contact the site owners</p>
</div>

<div class="complete-form">
    <form method="POST" >
        {{ form.csrf_token }}

        <div class="input">
            {{ form.name.label }} 
            <span class="required">(Required)</span>
            {{ form.name(class="form-control") }}
        </div>

        <div class="input">
            {{ form.email.label }} 
            <span class="required">(Required)</span>
            {{ form.email(class="form-control") }}
        </div>

        <div class="input">
            {{ form.subject.label }}
            <span class="required">(Required)</span>
            {{ form.subject(class="form-control") }}
        </div>

        <div class="input">
            {{ form.message.label }} 
            <span class="required">(Required)</span>
            {{ form.message(class="form-control") }}
        </div>

        <br>
        <button class="button" type="submit"> Send </button>
    </form>
</div>

{% endblock %}